<template>
 <div class="main">
   <h2>Jobs</h2>
   
  <div v-if="id === '1'">
    <h3>Frontend Developer</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto
      doloremque est cupiditate. Adipisci assumenda impedit nemo laboriosam
      veniam dolor iusto sapiente praesentium, autem, omnis cupiditate eos sint
      aut! Quibusdam.
    </p>
  </div>
  <div v-if="id === '2'">
    <h3>Backend Developer</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto
      doloremque est cupiditate. Adipisci assumenda impedit nemo laboriosam
      veniam dolor iusto sapiente praesentium, autem, omnis cupiditate eos sint
      aut! Quibusdam.
    </p>
  </div>
  <div v-if="id === '3'">
    <h3>Devops</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto
      doloremque est cupiditate. Adipisci assumenda impedit nemo laboriosam
      veniam dolor iusto sapiente praesentium, autem, omnis cupiditate eos sint
      aut! Quibusdam.
    </p>
  </div>
  <h2>Essa página traz tudo sobre seu trabalho</h2>
 </div>
  
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
    };
  },
};
</script>

<style lang="scss" scoped>
.main{
  padding: 4%;
}
</style>
