<template>
  <div class="main">
      <h2>Cadastro</h2>
      <MyForm/>
  </div>
</template>

<script>
import MyForm from './../components/MyForm.vue'
export default {
    components:{
        MyForm
    }

}
</script>

<style>

</style>