<template >
    <div>
         <button v-on:click="changeColor">Click Me</button>
    </div>
</template>
<script>

export default {
    methods:{
        changeColor(){
         this.emitter.emit('my-event', {'changeColor':'coloring'})
      }
    }
}
</script>
<style>
    button{
        margin-top:-1%;
        padding: 1% 2%;        
        width: 15vw;
        height:6vh;
        background-color: orange;
        border-radius:28px;
        border: none;
        box-shadow: 2.1px 1.4px rgb(73, 73, 73);
        font-size: 14pt;
        font-weight: 900;
        color: #4f4f4f;
    }
</style>