<template>
  <form class="form" @click="changeColor">
    <my-input v-for="(inp, index) in myInputs" :key="index"
      v-model="inp.value"
      :label="inp.label"
      :tipo="inp.type"
    />
    <!-- <my-input v-model="nome" name="Nome:" />
    <my-input v-model="email" name="Email:" />
    <my-input v-model="fone" name="Fone:" />
    <my-input v-model="senha" name="Senha:" />   -->
     <select  v-model="cargo">
      <option value="" selected>Escolha cargo desejado</option>
      <option value="Designer">Web Designer</option>
      <option value="Frontend">Web Frontend</option>
      <option value="Backend">Web Backend</option>
      <option value="Devops">Devops</option>
    </select>
    <div class="row">
      <label>Graduação Tecnologia</label>
      <input v-model="degree" type="checkbox">
    </div>  
  </form>
    <my-button @click="sendData" class="myButton" /> 
</template>

<script>
import MyInput from './MyInput'
import MyButton from './MyButton'

export default {
    components:{
        MyInput,
        MyButton       
    },
    data(){
      return {
        changeColoring:'',       
        cargo:'',
        degree:false,
        myInputs:[
          { label: "Nome:", type:"text", value:''},
          { label: "Email:", type:"email", value:''},
          { label: "CPF:", type:"text", value:''},
          { label: "Fone:", type:"number", value:''},
          { label: "Senha:", type:"password", value:''},
        ]
      }
    },
    methods:{
      changeColor(){
        this.$emit('Coloring')
      },
      sendData(){
        const myData = {
          nome:this.myInputs[0].value,
          email:this.myInputs[1].value,
          cpf:this.myInputs[2].value,
          fone:this.myInputs[3].value,
          senha:this.myInputs[4].value,          
          cargo:this.cargo,
          degree:this.degree
        }
        console.log(myData)
      }
    }
};
</script>

<style>
.form{
  padding:2%;
  border:solid 1px grey;
  border-radius: 10px;
  max-width: 100%;
  min-width: 21%;
}
select {
  margin-top: 11px;
  border: none;
  border-bottom: solid 1px grey;
  min-width: 94%;
  background-color: white;
}

select:focus {
  outline-color: #cacaca;
}

.myButton{
  margin-top:5%;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.row input{
  width:10%;
  margin-right: 10;
}
.row label{
  min-width:54%;
}
</style>
