<template>
    <div class="main">
        <label for="myInput">{{ label }}</label>
        <input v-model="inputValue" :type="tipo" />   
    </div>
</template>
<script>
export default {  
    props:{
        label: {
            type:String,
            required:true,            
        },
        modelValue:{                   
            required:true,
        }, 
        tipo:{
            required:true,
        }     
    },
    computed:{
        inputValue:{
            get() {
                return this.modelValue
            },
            set(value) {
                this.$emit("update:modelValue", value)
            }
        }
    }
}
</script>
<style>
    input{
        border: none;
        border-bottom: solid 1px grey;
        margin-top: 1.8%;
        width: 75%;
        margin-left: 0.7%;
    }
    input:focus{
        outline-style: dotted;
        outline-color: #cacaca;
    }
    label{
        width:20%
    }
</style>