<template>
  <div class="main" :class="customColor">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link :to="{ name: 'Cadastro' }">Cadastro</router-link> |
      <router-link :to="{ name: 'Jobs', params: { id: '1'} }">Jobs</router-link>
    </div>
    <div v-if="customColor" class="message">
      <h2>Dados enviados com sucesso!!!</h2>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",

  data() {
    return {
      title: "Course Vue3",
      customColor: "",
      path: "/cadastro",
    };
  },
  created() {
    this.emitter.on("my-event", (evt) => {
      this.customColor = evt.changeColor;
    });
  },
};
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coloring {
  background: white;
  color: #4f4f4f;
}
.message {
  border: 1px solid green;
  color: green;
  padding: 0% 4%;
  margin-bottom: 2%;
  border-radius: 2.8%;
  box-shadow: 1.4px 1.4px rgba(1, 1, 4, 0.3);
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #7042b9;
  padding: 7px;
  border-radius: 7px;
  text-decoration: none;
}

#nav .router-link-exact-active {
  color: white;
  background-color: #7042b9;
}
</style>
